@media (min-width: 768px) {
	.menu-toggle-btn {
		display: none;
	}

  .custom-nav-link {
		padding: 5px 15px;
		margin-right: 10px;
		display: flex;
		align-items: center;
		border-radius: 20px;
		color: var(--primary);
		line-height: 1.3;
		background-color: #fff;
    border: 1px solid var(--primary);
		cursor: pointer;
	}

	.active-nav-link {
		background-color: var(--primary);
		font-weight: 500;
		color: #fff;
	}

	.home-container {
		padding: 20px 40px
	}
}
